# GAS
ENTRY_FEED_URL=
ENTRY_LOOKUP_SECRET=
# YouTube Data API v3
YOUTUBE_API_KEY=

# 削除申請（32文字以上のランダム文字列）
REMOVE_CODE_SECRET=
RESEND_API_KEY=
RESEND_EMAIL_FROM=event@ymkw.top

# OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# ランダム32字　※自分できめていい
AUTH_SECRET=

# 通報管理パスワードハッシュ しゃにごろ
REPORT_PASSWORD_HASH=

# OAuth2 ダイレクト
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback