# GAS
ENTRY_FEED_URL=

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# ランダム32字　※自分できめていい
AUTH_SECRET=

# OAuth2 リダイレクト
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback
