# GAS
ENTRY_FEED_URL=
ENTRY_LOOKUP_SECRET=

# 動画削除申請（32文字以上のランダム文字列）
REMOVE_CODE_SECRET=
REMOVE_EMAIL_FROM=noreply@ymkw.top

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# ランダム32字　※自分できめていい
AUTH_SECRET=

# OAuth2 リダイレクト
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback
